body {
    background-color: #ABC9E3;
    font-family: 'Times New Roman', Times, serif 
}
.foto {
    border: 3px solid #7178D0;
    border-radius: 50%;
    height: 100px;
    width: 150px;
    margin-bottom: 5px;
}
#titulo, .subtitulo, .post_titulo, .titulo_contatos {
    color: #5e40bf;
}

#titulo {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
}

a {
    text-decoration: underline;
    color: black;
}
.post_titulo {
    font-size: 20px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: #ADABE3;
    padding: 15px;
    border: 5px solid #7178D0;
    margin-bottom: 15px;
    border-radius: 15px;
}

.post_conteudo {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_imagem {
    margin-bottom: 15px;
}

.titulo_contatos {
    padding-left: 15px;
    margin: 0px;
    margin-bottom: 5px;
}
.lista_contatos {
    list-style-type: square;
    padding-left: 15px;
    margin: 0px;
}

.lista_contatos li a {
    text-decoration: none;
}